body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bg {
  background-color: #FFFFFF;
} 

.text-color {
  color:#12123D;
}

.text-color1 {
  color:#D4AA00;
}

.border-color {
  border-color: #D4AA00;
}

.custom-bg-text {
  color:#12123D;
}

.bg-color {
  background-color: #D4AA00;
}

.rounded-card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.form-card {
  padding: .2em .2em .2em;
  border-radius: 1em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card {
  transition: transform 0.2s ease;
}

.card:hover .product-card  {
  transform: scale(1.02);
}